@model IEnumerable<CasaDoCodigo.Models.Livro>
@*@await Html.PartialAsync("Carousel")*@

<h2>Livros </h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroPagina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isbn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>


            @foreach (var item in @Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        <img class="img-autor" src="@Html.DisplayFor(modelItem => item.Imagem)" alt="Alternate Text" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Preco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroPagina)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Isbn)
                    </td>
                    <td>
                        <a class="btn btn-info" asp-controller="CarrinhoController" asp-action="AdicionarItemNoCarrinho" asp-route-id="@item.Id">Comprar</a>
                        @*<a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                            <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.Id ">Deletar</a>*@
                    </td>
                </tr>
            }

    </tbody>
</table>